
<div class='login-container'>

  <% if @login_error %>
    <div class="errors">
      <p style="color: red; font-weight: bold;" >You don't belong here</p>
    </div>
  <% end %>

<%= form_for :user, url: login_path do |form| %>
  <%= form.text_field :email %>
  <%= form.password_field :password %>
  <%= form.submit "login" %>
<% end %>



</div>
